<div id="tot">
<div class="menu-container">
  <h1 id="titlu">Time-Off Manager</h1>
  <p id="welcome">Welcome, {{ userService.getName() }}</p>
  <div *ngIf="showDashboard" class="back-button-container">
</div>
  <button *ngIf="!showDashboard" (click)="showDashboard = true">Go to {{ userService.getRole() }} dashboard</button>
</div>

<div *ngIf="showDashboard">
  <div *ngIf="userService.getRole() === 'USER'" class="dashboard-container">
    <div class="actions">
      <p *ngIf="vacationBalance !== undefined" id="vacanta">Remaining vacation days: {{ vacationBalance }}</p>
      <p *ngIf="sickLeaveBalance !== undefined" id="concediu">Remaining sick leave days: {{ sickLeaveBalance }}</p>
      <p *ngIf="unpaidLeaveBalance !== undefined" id="neplatit">Remaining unpaid leave days: {{ unpaidLeaveBalance }}</p>
      <button (click)="goBackToMenu()">Back to menu</button>
      <button (click)="toggleShowRequests()">View my requests</button>
      <button (click)="toggleShowForm()">Submit new request</button>
    </div>

    <div *ngIf="showForm" class="section">
      <h2>Submit Leave Request</h2>
      <form (submit)="submitNewRequest()">
        <label><strong>Leave type:</strong></label>
        <select [(ngModel)]="newLeaveRequest.leaveTypeName" name="leaveTypeName" required id="select">
          <option *ngFor="let type of predefinedLeaveTypes" [value]="type.name">
            {{ type.name }}
          </option>
        </select>

        <label><strong>From:</strong></label>
        <input type="date" [(ngModel)]="newLeaveRequest.startDate" name="startDate" required />

        <label><strong>To:</strong></label>
        <input type="date" [(ngModel)]="newLeaveRequest.endDate" name="endDate" required />

        <label><strong>Notes:</strong></label>
        <input type="text" [(ngModel)]="newLeaveRequest.notes" name="notes" />

        <button type="submit">Submit</button>
      </form>
    </div>

    <div *ngIf="showRequests && (leaveRequests$ | async) as leaveRequests">
  <div *ngIf="leaveRequests.length > 0" class="section" id="viewrequestuser">
    <h2>Your Leave Requests</h2>
    <ul>
      <li *ngFor="let request of leaveRequests">
        <p><strong>Type:</strong> {{ request.leaveTypeName }}</p>
        <p><strong>Period:</strong> {{ formatDate(request.startDate) }} ➔ {{ formatDate(request.endDate) }}</p>
        <p><strong>Status:</strong> {{ request.status }}</p>
        <p><strong>Notes:</strong> {{ request.notes }}</p>
        <button (click)="selectRequestForEdit(request)">Edit</button>
        <hr />
      </li>
    </ul>
  </div>
</div>


    <div *ngIf="selectedRequest$ | async as selectedRequest" class="section" id="edituser">
      <h2>Edit Request</h2>
      <form (submit)="updateLeaveRequest()">
        <label><strong>From:</strong></label>
        <input type="date" [ngModel]="formatForInput(selectedRequest.startDate)" (ngModelChange)="selectedRequest.startDate = $event" name="editStartDate" required />

        <label><strong>To:</strong></label>
        <input type="date" [ngModel]="formatForInput(selectedRequest.endDate)" (ngModelChange)="selectedRequest.endDate = $event" name="editEndDate" required />

        <label><strong>Notes:</strong></label>
        <input type="text" [(ngModel)]="selectedRequest.notes" name="editNotes" />

        <button type="submit">Save</button>
        <button type="button" (click)="deleteLeaveRequest(selectedRequest.id)" class="btn-delete">Delete</button>
        <button type="button" (click)="cancelEdit()">Close</button>
      </form>
    </div>
  </div>

  <div *ngIf="userService.getRole() === 'MANAGER'" class="dashboard-container">
  <div class="actions">
    <p *ngIf="vacationBalance !== undefined" id="vacanta">Remaining vacation days: {{ vacationBalance }}</p>
    <p *ngIf="sickLeaveBalance !== undefined" id="concediu">Remaining sick leave days: {{ sickLeaveBalance }}</p>
    <p *ngIf="unpaidLeaveBalance !== undefined" id="neplatit">Remaining unpaid leave days: {{ unpaidLeaveBalance }}</p>
    <button (click)="goBackToMenu()">Back to menu</button>
    <button (click)="toggleShowRequests()">View subordinates requests</button>
    <button (click)="toggleShowForm()">Submit new request</button>
  </div>
  <div *ngIf="showForm" class="section">
      <h2>Submit Leave Request</h2>
      <form (submit)="submitNewRequest()">
        <label><strong>Leave type:</strong></label>
        <select [(ngModel)]="newLeaveRequest.leaveTypeName" name="leaveTypeName" required id="select">
          <option *ngFor="let type of predefinedLeaveTypes" [value]="type.name">
            {{ type.name }}
          </option>
        </select>

        <label><strong>From:</strong></label>
        <input type="date" [(ngModel)]="newLeaveRequest.startDate" name="startDate" required />

        <label><strong>To:</strong></label>
        <input type="date" [(ngModel)]="newLeaveRequest.endDate" name="endDate" required />

        <label><strong>Notes:</strong></label>
        <input type="text" [(ngModel)]="newLeaveRequest.notes" name="notes" />

        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="section" *ngIf="showRequests">
  <h2>Subordinates Requests</h2>
  <ul>
    <li *ngFor="let request of allRequests$ | async">
      <p><strong>User:</strong> {{ request.userName }}</p>
      <p><strong>Type:</strong> {{ request.leaveTypeName }}</p>
      <p><strong>Period:</strong> {{ formatDate(request.startDate) }} ➔ {{ formatDate(request.endDate) }}</p>
      <p><strong>Notes:</strong> {{ request.notes }}</p>
      <p><strong>Status:</strong> {{ request.status }}</p>
      <div *ngIf="request.projects && request.projects.length > 0">
            <p><strong>Projects:</strong></p>
            <ul>
              <li *ngFor="let project of request.projects">
                <p><strong>{{ project.name }}</strong></p>
                <p>Members:</p>
                <ul *ngIf="project.members && project.members.length > 0">
                  <li *ngFor="let member of project.members">
                    {{ member.name }}
                  </li>
                </ul>
              </li>
            </ul>
          </div>
      <button *ngIf="request.status === 'PENDING'" (click)="approveLeaveRequest(request.id)">Approve</button>
      <button *ngIf="request.status === 'PENDING'" (click)="rejectLeaveRequest(request.id)">Reject</button>
    </li>
  </ul>
  <div *ngIf="(allRequests$ | async)?.length === 0">
    <p>No requests available.</p>
  </div>
</div>
  </div>

  <div *ngIf="userService.getRole() === 'ADMIN'" class="dashboard-container">
    
    <div class="actions">
      <button (click)="goBackToMenu()">Back to menu</button>
      <button (click)="toggleShowUsers()">View users</button>
      <button (click)="toggleShowRequests()">View all requests</button>
      <button (click)="toggleShowUserForm()">Add user</button>
  </div>
  <div *ngIf="showUserForm" class="section">
    <h2>Add User</h2>
    <form (submit)="createUser()">
      <label><strong>Name:</strong></label>
      <input [(ngModel)]="newUser.name" name="name" required>
      <label><strong>Email:</strong></label>
      <input [(ngModel)]="newUser.email" name="email" required>
      <label><strong>Role:</strong></label>
      <select [(ngModel)]="newUser.role" name="role" required id="select">
        <option value="USER">USER</option>
        <option value="MANAGER">MANAGER</option>
      </select>
      <button type="submit">Create</button>
    </form>
  </div>
      <div class="section" *ngIf="showRequests">
      <h2>All Leave Requests</h2>
      <ul>
        <li *ngFor="let request of allRequests$ | async">
          <p><strong>User:</strong> {{ request.userName }}</p>
          <p><strong>Type:</strong>
            {{request.leaveTypeName}}
          </p>
          <p><strong>Period:</strong> {{ formatDate(request.startDate) }} ➔ {{ formatDate(request.endDate) }}</p>
          <p><strong>Notes:</strong> {{ request.notes }}</p>
          <p><strong>Status:</strong> {{ request.status }}</p>
          <button *ngIf="request.status === 'PENDING'" (click)="approveLeaveRequest(request.id)">Approve</button>
          <button *ngIf="request.status === 'PENDING'" (click)="rejectLeaveRequest(request.id)">Reject</button>
        </li>
      </ul>
      <div *ngIf="(allRequests$ | async)?.length === 0">
        <p>No leave requests to approve.</p>
    </div>

  </div>
    <div *ngIf="showUsers" class="section" id="viewusers">
      <h2>Users</h2>
      <ul>
        <li *ngFor="let user of users">
          <p><strong>Name:</strong> {{ user.name }}</p>
          <p><strong>Role:</strong> {{ user.role }}</p>
          <p><strong>Status:</strong> {{ user.isActive ? 'Active' : 'Inactive' }}</p>
          <div *ngIf="user.isActive">
          <div class="balance-row">
            <label><strong>Vacation:</strong></label>
            <input type="number" [(ngModel)]="user.vacationBalance" />
          </div>
          <div class="balance-row">
            <label><strong>Sick:</strong></label>
            <input type="number" [(ngModel)]="user.sickBalance" />
          </div>
          <div class="balance-row">
            <label><strong>Unpaid:</strong></label>
            <input type="number" [(ngModel)]="user.unpaidBalance" />
          </div>

          <button (click)="updateBalances(user.id, user.vacationBalance, user.sickBalance, user.unpaidBalance)">Update balances</button>
          <button (click)="deleteUser(user.id)">Delete user</button>
          </div>

        </li>
      </ul>
  </div>
  
</div>
</div>